<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\Ruta\Al\Entorno\Virtual\Scripts\python.exe|C:\Ruta\Al\Entorno\Virtual\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
  </system.webServer>
  
  <appSettings>
    <!-- Ruta a tu variable de factoria app o archivo ejecutable -->
    <add key="WSGI_HANDLER" value="run.app" />
    <add key="PYTHONPATH" value="C:\Ruta\Hacia\videogames_app" />
  </appSettings>
</configuration>
